@media print {
  body {
    font-size: 12pt;
    line-height: 1.3;
  }
  
  header, nav, footer {
    display: none !important;
  }
  
  #report-content {
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    border: none !important;
  }
  
  .no-print {
    display: none !important;
  }
}
